<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>662349183941-tv4gi98prrqrevrnl84v1dd95mttgsei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662349183941-tv4gi98prrqrevrnl84v1dd95mttgsei</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>662349183941-cik3r8l0g37gkolj87m6f8envp9rrh03.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCn1Z5yvo0TPfMQNAHH_Kg3SGdJGZa_v1s</string>
	<key>GCM_SENDER_ID</key>
	<string>662349183941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.mvips.driver.dev</string>
	<key>PROJECT_ID</key>
	<string>mvips-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>mvips-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:662349183941:ios:226756bafb3db82e8be9ac</string>
	<key>DATABASE_URL</key>
	<string>https://mvips-dev.firebaseio.com</string>
</dict>
</plist>